<?xml version="1.0"?>
<model>
  <name>Faucon PX4 X500 Mono Cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Faucon</name>
  </author>
  <description>
    PX4 x500_mono_cam with a Gazebo odometry publisher for ROS/PX4 visual odometry.
  </description>
</model>
