<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher"> 
            
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <odom_publish_frequency>50</odom_publish_frequency>
            
            <odom_topic>/faucon_drone/odom</odom_topic>
            <tf_topic>/tf</tf_topic>

            <dimensions>3</dimensions>

            <xyz_offset>0 0 0</xyz_offset>
            <rpy_offset>0 0 0</rpy_offset>

            <gaussian_noise>0</gaussian_noise>

        </plugin>
    </gazebo>

</robot>